body {
  background-color: #343332;
  color: #777777;
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  height: 100vh;
}

h1 {
  color: #CCCCCC;
  font-size: 120%;
  letter-spacing: 1px;
  /* https://blog.typekit.com/2016/08/17/flexible-typography-with-css-locks/ */
  line-height: 1.2;
  margin: 0.75em 0;
  padding: 0.75 0;
}

p {
  margin: 0;
}

.locations-list {
  border-right: 1px solid #222222;
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;
}

.heading {
  border-bottom: 1px solid #222222;
  flex-basis: 0;
  padding: 0 10px;
}

.listings-wrapper {
  flex-grow: 1;
  height: 100%;
  overflow: auto;
}

.listings {
  margin: 0;
  list-style-type: none;
  /*padding-bottom: 80px;*/
}
.listings .item {
  border-bottom: 1px solid #222222;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
}
.listings .item .title {
  color: #CCCCCC;
  display: block;
  letter-spacing: 1px;
}
.listings .item.active {
  background-color: #A5D26A;
}
.listings .item.active .title,
.listings .item.active:hover .title {
  color: #444444;
}
.listings .item:hover .title {
  color: #A5D26A;
}
.listings .item.active .title:hover {
  color: #444444;
}

.map {
  flex-grow: 4;
}

.mapboxgl-popup {
  padding-bottom: 20px;
}
.mapboxgl-popup-close-button {
  color: #444444;
  float: right;
  padding: 0.5em;
  position: static;
}
.mapboxgl-popup-content {
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

.location-info {
  padding: 10px;
}
.location-info img {
  height: 32px;
  width: 32px;
}
.location-wifi {
  height: 20px;
  margin-left: 4px;
  width: 20px;
}
.location-notes {
  margin-top: 12px;
}
.location-link {
  color: #444444;
}
.location-directions {
  text-align: right;
}
.location-phone {
  margin-right: 8px;
}

.mapboxgl-popup-content h3 {
  background-color: #A5D26A;
  color: #444444;
  font-size: 120%;
  line-height: 20px;
  margin: 0;
  padding: 10px;
}
.mapboxgl-popup-content h4 {
  display: block;
  margin: 0;
  padding: 0;
}

/* -----------------------------------------------------------------------------
//  Recommended media query breakpoints:
//  https://medium.freecodecamp.com/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
// -------------------------------------------------------------------------- */

@media (max-width: 599px) {
  main {
    flex-direction: column-reverse;
  }
  .map {
    flex-grow: 1;
  }
  .listings-wrapper {
    height: 10%;
  }
  .locations-list {
    border-right: 0;
  }
  .heading {
    font-size: 70%;
  }
}

@media (min-width: 600px) {
  .map {
    flex-grow: 2.5;
  }
}

@media (min-width: 900px) {
  .map {
    flex-grow: 4;
  }
}
